.modal__controller {
  padding: 0;
  margin: auto;
  border: 1px solid transparent;
  width: 90%;
  height: max-content;
  border-radius: var(--radius-1);
}

.modal__controller::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  cursor: url('../assets/cursor-control-finance.svg'), auto;}

.modal__container {
  max-width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  position:relative;
}

.btn-close-modal {
  position: absolute;
  right: 8px;
  top: 2px;
}

.modal__form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.75rem;
}

.modal__form-container > label  {
  color: var(--color-grey-1);
  font-weight: var(--font-);
}

.input-record-value {
  border-radius: var(--radius-1);
  border: 2px solid var(--color-grey-3);
  padding: 0.625rem 1.25rem;
}

.input-record-value:focus {
  outline: none;
  border: 2px solid var(--color-brand-1);
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  margin-top: 1.75rem;
}

.btn-container {
  max-width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.btn-insert-value, .btn-cancel {
  width: 48%;
}

.item-container label{
  border: 1px solid var(--color-grey-3);
  color: var(--color-grey-2);
  max-width: 100%;
  text-align: center;
  padding: 8px;
  border-radius: var(--radius-1);
}

.item-container input[type='radio']:checked + label {
  background-color: var(--color-brand-1);
  color: var(--color-grey-5);

}

@media screen and (min-width:1024px) {
  .modal__controller {
    width: 40%;
  }

  .item-container {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .item-container label {
    padding: 0.25rem 0.5rem;
  }

  .btn-container {
    margin-top: 0.5rem;
    justify-content: flex-end;
    gap: 1rem;
  }

  .btn-insert-value, .btn-cancel {
    width: max-content;
    padding: 8;
  }
}